.classlist-classname {
  font-size: 30px;
  color: $dark-blue;
  font-family: $sans-serif;
  text-align: center;
  margin-top: 20px;
  font-weight: normal;
}

.class-list {
  display: flex;
  width: 980px;
  margin: 30px auto 60px auto;
  flex-wrap: wrap;
  text-align: center;
}

.class-list-item {
  border: 1px solid $blue;
}

.class-list-button {
  width: 100px;
  padding: 10px;
  font-family: $sans-serif;
  color: $dark-blue;
}

.class-list-button:hover {
  background: $hover-ul-color;
}

.classname {
  font-family: $sans-serif;
  font-size: 40px;
  color: $dark-blue;
  margin: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.list-name, .list-name-student {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: 0 auto;
}

.list-name-student {
  background: $lightest-blue;
  margin: 10px;
  margin-left: 0;
}

.inline-word, .inline-word-student {
  display: flex;
  justify-content: space-between;
  font-family: $sans-serif;
  font-size: 15px;
  padding: 10px;
  color: $white;
  background: $blue;
}

.inline-word-student {
  color: $dark-blue;
  background: $lightest-blue;
  padding-top: 20px;
  border-radius: 5px;
}

.col-first {
  text-align: center;
  font-family: $sans-serif;
  color: $white;
  font-size: 15px;
  background: $blue;
  padding: 10px;
}

.student-lateness {
  padding-right: 30px;
}

.student-list {
  width: 980px;
  margin: 0 auto;
}

.col-first-operation {
  text-align: center;
  font-family: $sans-serif;
  color: $dark-blue;
  font-size: 15px;
  background: $lightest-blue;
  padding: 10px;
}

.operation {
  display: flex;
  justify-content: space-between;
}

.operation-button-first, .operation-button-second {
  font-family: $sans-serif;
  font-size: 12px;
}

.operation-button-first {
  margin-left: 25px;
}

.operation-button-second {
  margin-right: 20px;
}
