.class-list {
  display: flex;
  width: 1350px;
  margin: 50px auto;
  flex-wrap: wrap;
  text-align: center;
}

.class-list-item {
  border: 1px solid $blue;
}

.class-list-button {
  width: 100px;
  padding: 10px;
}

.class-list-button:hover {
  background: $hover-ul-color;
}
