.welcome-header {
  display: flex;
  justify-content: space-between;
  background-color: $blue;
}

.logo {
  margin: 20px;
  width: 250px;
  height: 50px;
}

.welcome-page-nav {
  display: flex;
  justify-content: space-between;
}

.welcome-list-button {
  border: none;
  background-color: $blue;
  color: $white;
  padding: 36px;
}

.main-choice {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 200px auto;
}

.main-choice-list {
  text-align: center;
  margin: 20px;
}

.main-img {
  width: 200px;
  height: 200px;
}

.main-name-list {
  color: $blue;
  font-size: 30px;
  margin: 10px;
  font-family: $architect;
}
