.calendar-view {
  width: 1000px;
  margin: 10px auto;
}

.graph-form {
  width: 300px;
  margin: 10px auto;
}

.graph-view {
  width: 1000px;
  margin: 10px auto;
}

.namelist-button-color, .namelist-button-noColor {
  font-size: 18px;
}

.namelist-button-color{
  background: $dark-blue;
  color: $white;
}

.namelist-button:hover {
  border-radius: 0;
  border: 1px solid $blue;
}
