<!DOCTYPE html>
<html>
  <head>
    <title>Lastcomer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dirtnmtpc/image/upload/v1489429755/favicon_ijz4wh.ico" type="image/x-icon" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
